{{ form_start(form, {
	'attr': {'class': 'form'}
}) }}

	{{ form_row(form.title, {
		'row_attr': {'class': 'form_row'},
		'label_attr': {'class': 'form_label'},
		'attr': {'class': 'form_widget'},
		'help_attr': {'class': 'form_help'}
	}) }}

	{{ form_row(form.price, {
		'row_attr': {'class': 'form_row'},
		'label_attr': {'class': 'form_label'},
		'attr': {'class': 'form_widget'},
		'help_attr': {'class': 'form_help'}
	}) }}

	{{ form_row(form.stock, {
		'row_attr': {'class': 'form_row'},
		'label_attr': {'class': 'form_label'},
		'attr': {'class': 'form_widget'},
		'help_attr': {'class': 'form_help'}
	}) }}

	{{ form_row(form.available, {
		'row_attr': {'class': 'form_row'},
		'label_attr': {'class': 'form_label'},
		'attr': {'class': 'form_widget'},
		'help_attr': {'class': 'form_help'}
	}) }}

	<div class="form_row">
		<button class="btn" type="submit">{{ button|default('Enregistrer') }}</button>
	</div>

{{ form_end(form) }}
